/* Apply a general reset to remove default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a base font size and family for better readability */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/* Center the content horizontally */
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 1px;
}

/* Style headings */
h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Style the list of instructors */
ul {
    list-style: none;
    padding: 0;
    
}

li {
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

/* Style form elements */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea,
button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

input[type="file"] {
    width: auto; /* Allow the file input to adjust width */
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Responsive design for smaller screens */
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .container {
        padding: 10px;
    }

    input[type="text"],
    textarea,
    button {
        padding: 6px;
    }
}