<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Admin Panel</title>
</head>

<body>
    <h1>Welcome to the Admin Panel</h1>
    <h2>List of Instructors:</h2>
    <ul>
        {% for instructor in instructors %}
            <li class="instructor">{{ instructor.name }}</li>
        {% endfor %}
    </ul> 
    <h2>Add Course:</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="courseName">Course Name:</label>
        <input type="text" id="courseName" name="name"><br><br>
        <label for="level">Level:</label>
        <input type="text" id="level" name="level"><br><br>
        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea><br><br>
        <label for="image">Image:</label>
        <input type="file" id="image" name="image"><br><br>
        <button type="submit">Add Course</button>
    </form>
</body>
</html>
